@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Montserrat:wght@500&display=swap');


body{
    background: #000;
    color: rgb(174, 195, 174);
}

nav .list{
    visibility: hidden;
    margin: 0 30px;
}

.logo{
    font-family: 'Fuggles', cursive;
    /* font-family: 'Montserrat', sans-serif;  */
}


nav .list:hover{
    color: rgb(174, 195, 174,0.8);
}

.lks-social{
    margin: 2px 20px;
}

.links-s{
    color: rgb(174, 195, 174);
}

.links-s:hover{
    color: #f2c307e8;
}

.links-p{
    color: rgb(174, 195, 174);
}

.links-p:hover{
    color: #f2c307e8;
}

.login-menu{
    position: absolute;
    top: 14px;
    right: 0px;
}

.ld{
    position: absolute;
    bottom: 60px;
}

.gt{
    position: absolute;
    bottom: 105px;
}

.tt{
    position: absolute;
    bottom: 15px;
}

.tt,
.gt,
.ld{
    right: 0px;
    z-index: 101;
}

.css-3d-cube {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 280px;
    z-index: 100;
}

@media (min-width: 768px) {
    .tt, .gt, .ld, .login-menu {
        position: sticky;
    }

    .css-3d-cube{
        position: sticky;
        min-height: 550px;
    }
}

@media (min-width: 320px) and (max-width:767px){
    .css-3d.cube{
        height: 100vh;
    }
}